In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
from selenium.webdriver.common.keys import Keys
import requests
import re
import warnings
warnings.filterwarnings('ignore')

## Scrape the details of most viewed videos on YouTube from Wikipedia

In [2]:
driver=webdriver.Chrome(r'C:\Users\Zalak\Downloads\chromedriver_win32\chromedriver.exe')
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [3]:
Data=[]
try:
    name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td")
    for i in name:
        Data.append(i.text)
except NoSuchElementException:
    Data.append('N/A')
except StaleElementReferenceException:
    Data.append('N/A')

In [4]:
df=pd.DataFrame()
df['Rank']=[Data[i] for i in range(len(Data)) if i % 6 == 0]
df['Video Name']=[Data[i+1][0:-4] for i in range(len(Data)) if i % 6 == 0]
df['Artist']=[Data[i+2] for i in range(len(Data)) if i % 6 == 0]
df['Views (billions)']=[Data[i+3] for i in range(len(Data)) if i % 6 == 0]
df['Upload Date']=[Data[i+4] for i in range(len(Data)) if i % 6 == 0]
df.style.hide_index()

 ## Scrape the details team India’s international fixtures from bcci.tv

In [180]:
driver=webdriver.Chrome(r'C:\Users\Zalak\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.bcci.tv/'
driver.get(url)

In [181]:
btn=driver.find_element_by_xpath('/html/body/nav/div/button')
btn.click()

In [182]:
btn=driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]/a')
btn.click()

In [192]:
series=[]
try:
    name=driver.find_elements_by_xpath("//span[@class='ng-binding']")
    for i in name:
        series.append(i.text)
except NoSuchElementException:
    series.append('N/A')
date=[]
try:
    name=driver.find_elements_by_xpath("//h5[@class='ng-binding']")
    for i in name:
        date.append(i.text)
except NoSuchElementException:
    date.append('N/A')
time=[]
try:
    name=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
    for i in name:
        time.append(i.text)
except NoSuchElementException:
    time.append('N/A')
loc=[]
try:
    name=driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']")
    for i in name:
        loc.append(i.text)
except NoSuchElementException:
    loc.append('N/A')
title=[]
try:
    name=driver.find_elements_by_xpath("//div[@class='fixture-card-mid d-flex align-items-center justify-content-between']")
    for i in name:
        title.append(i.text.replace('\n',' '))
except NoSuchElementException:
    title.append('N/A')

In [194]:
dataframe=pd.DataFrame()
dataframe['Match_title']=title
dataframe['Series']=series
dataframe['Place']=loc
dataframe['Date']=date
dataframe['Time']=time
dataframe.style.hide_index()

## Scrape the details of selenium exception from guru99.com

In [25]:
driver=webdriver.Chrome(r'C:\Users\Zalak\Downloads\chromedriver_win32\chromedriver.exe')
url = 'https://www.guru99.com/'
driver.get(url)

In [26]:
btn=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
btn.click()

In [27]:
exception=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
exception.click()

In [28]:
exception =[]
try:
    name=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td')
    for i in name:
        exception.append(i.text)
except NoSuchElementException:
    exception.append('N/A')

In [29]:
dataframe=pd.DataFrame()
dataframe['Exception Name']=[exception[i] for i in range(len(exception)) if i % 2 ==0]
dataframe['Description']=[exception[i+1] for i in range(len(exception)) if i % 2 ==0]
dataframe

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

## Scrape the details of State-wise GDP of India from statisticstime.com

In [30]:
driver=webdriver.Chrome(r'C:\Users\Zalak\Downloads\chromedriver_win32\chromedriver.exe')
url='http://statisticstimes.com/'
driver.get(url)

In [31]:
economy = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
economy.click()

In [32]:
india=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
india.click()

In [33]:
gdp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

In [34]:
dollar=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div[4]/div/div[1]/ul/li[2]")
dollar.click()

In [35]:
all=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td")
    for i in name:
        all.append(i.text)
except NoSuchElementException:
    all.append('N/A')
except StaleElementReferenceException:
    all.append('N/A')

In [36]:
dataframe=pd.DataFrame()
dataframe['Rank']=[all[i] for i in range(len(all)) if i % 8 ==0]
dataframe['State']=[all[i+1] for i in range(len(all)) if i % 8 ==0]
dataframe['GSDP at current price (19-20)']=[all[i+2] for i in range(len(all)) if i % 8 ==0]
dataframe['GSDP at current price (18-19)']=[all[i+3] for i in range(len(all)) if i % 8 ==0]
dataframe['Share (18-19)']=[all[i+4] for i in range(len(all)) if i % 8 ==0]
dataframe['GDP ($billion)']=[all[i+5] for i in range(len(all)) if i % 8 ==0]
dataframe.style.hide_index()

## Scrape the details of trending repositories on Github.com

In [144]:
driver=webdriver.Chrome(r'C:\Users\Zalak\Downloads\chromedriver_win32\chromedriver.exe')
url=' https://github.com/'
driver.get(url)

In [145]:
economy = driver.find_element_by_xpath("//button[@class='js-details-target btn-link d-lg-none mt-1 color-fg-inherit']")
economy.click()

In [146]:
economy = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]")
economy.click()

In [147]:
selenium_link=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]")
selenium_link.click()

In [122]:
name=[]
try:
    names=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('N/A')

In [125]:
data=[]
try:
    names=driver.find_elements_by_xpath("//article[@class='Box-row']")
    for i in names:
        data.append(i.text.split('\n'))
except NoSuchElementException:
    data.append('N/A')

In [53]:
desc=[]
try:
    desc1=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
    for i in desc1:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('N/A')

In [129]:
desc.insert(14,'N/A')
desc.insert(21,'N/A')

In [134]:
lan=[]
try:
    lan1=driver.find_elements_by_xpath("//div[@class='f6 color-fg-muted mt-2']")
    for i in lan1:
        lan.append(i.text+ " ")
except NoSuchElementException:
    lan.append('N/A')

In [136]:
urls=[]
match_page=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a")
for i in match_page:
    urls.append(i.get_attribute('href'))

In [152]:
import time
lan=[]
count=[]
for i in urls:
    driver.get(i)
    try:
        lan1=driver.find_element_by_xpath("//span[@class='color-fg-default text-bold mr-1']")
        lan.append(lan1.text)
    except NoSuchElementException:
        lan.append('N/A')
        
    try:
        count1=driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[3]/div[2]/div/div[5]/div/h2/a/span")
        /html/body/div[4]/div/main/div[2]/div/div/div[3]/div[2]/div/div[3]/div/h2/a
        count.append(count1.text)
    except NoSuchElementException:
        count.append('N/A')
    
    
    time.sleep(2)

In [156]:
dataframe=pd.DataFrame()
dataframe['Repository title']=name
dataframe['Repository description']=desc
dataframe['Language used']=lan
dataframe['Contributors count']=count
dataframe.style.hide_index()

## Scrape the details of top 100 songs on billiboard.com

In [65]:
driver=webdriver.Chrome(r'C:\Users\Zalak\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.billboard.com/'
driver.get(url)

In [66]:
##Clicking on hot 100
hot=driver.find_element_by_xpath("//a[@class='c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark']")
driver.get(hot.get_attribute('href'))

In [67]:
song=[]
songy=[]
try:
    songs = driver.find_elements_by_xpath("//h3[@id='title-of-a-story']")
    for i in songs:
        song.append(i.text)
except NoSuchElementException:
    song.append('N/A')

In [68]:
while( '' in song) :
    song.remove('')
songy=song[0:100]

In [69]:
artist=[]
try:
    art=driver.find_element_by_xpath("/html/body/div[5]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span")
    artist.append(art.text)
    aartist = driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
    for i in aartist:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('N/A')

In [70]:
lastweek=[]
try:
    lastweek1 = driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']")
    for i in lastweek1:
        lastweek.append(i.text)
except NoSuchElementException:
    lastweek.append('N/A')

In [71]:
peak=[]
try:
    peak1 = driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max']")
    for i in peak1:
        peak.append(i.text)
except NoSuchElementException:
    peak.append('N/A')

In [72]:
dataframe=pd.DataFrame()
dataframe['Song name']=songy
dataframe['Artist name']=artist
dataframe['Last week rank']=[lastweek[i] for i in range(len(lastweek)) if i % 2 ==0]
dataframe['Peak rank']=[peak[i+1] for i in range(len(peak)) if i % 2 ==0]
dataframe['Weeks on board']=[lastweek[i+1] for i in range(len(lastweek)) if i % 2 ==0]
dataframe

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,8
1,Heat Waves,Glass Animals,4,2,57
2,Easy On Me,Adele,3,1,19
3,abcdefu,GAYLE,7,4,13
4,Stay,The Kid LAROI & Justin Bieber,5,1,32
...,...,...,...,...,...
95,All Too Well (Taylor's Version),Taylor Swift,84,1,14
96,Come Back As A Country Boy,Blake Shelton,89,85,5
97,Iffy,Chris Brown,96,71,5
98,Home Sweet,Russell Dickerson,94,88,5
99,Too Easy,Gunna & Future,92,16,16

## Scrape the details of Data science recruiters from naukri.com

In [73]:
driver=webdriver.Chrome(r'C:\Users\Zalak\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.naukri.com/browse-jobs'
driver.get(url)

In [74]:
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

In [75]:
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [76]:
economy = driver.find_element_by_xpath("//div[@class='Sbtn']")
economy.click()

In [77]:
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()

In [78]:
urls=[]
url=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in url:
    urls.append(i.get_attribute('href'))

In [79]:
namae=[]
try:
    names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        namae.append(i.text)
except NoSuchElementException:
    namae.append('N/A')

In [80]:
des=[]
try:
    designation_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        des.append(i.text)
except NoSuchElementException:
    des.append('N/A')

In [81]:
skill=[]
try:
    for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
        skill.append(i.text)
except NoSuchAttributeException:
    skill.append('N/A')

In [82]:
comp=[]
try:
    companies=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in companies:
        comp.append(i.text)
except NoSuchElementException:
    comp.append('N/A')

In [83]:
loc=[]
for j in urls:
    driver.get(j)
    try:
        for i in driver.find_elements_by_xpath("//div[@class='rFrame fl infoWrapper']//div[5]//a"):
            loc.append(i.text)
    except NoSuchAttributeException as e:
        loc.append('N/A')

In [84]:
dataframe=pd.DataFrame()
dataframe['Name']=namae
dataframe['Designation']=des
dataframe['Company']=comp
dataframe['Skills they hire for']=skill
dataframe['Location']=loc
dataframe.style.hide_index()

##  Scrape the details of Data science recruiters from naukri.com

In [85]:
driver=webdriver.Chrome(r'C:\Users\Zalak\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [86]:
namae=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td")
    for i in names:
        namae.append(i.text)
except NoSuchElementException:
    namae.append('N/A')

In [87]:
dataframe=pd.DataFrame()
dataframe['Book name']=[namae[i+1] for i in range(len(namae)) if i % 6 ==0]
dataframe['Author name']=[namae[i+2] for i in range(len(namae)) if i % 6 ==0]
dataframe['Volumes sold']=[namae[i+3] for i in range(len(namae)) if i % 6 ==0]
dataframe['Publisher']=[namae[i+4] for i in range(len(namae)) if i % 6 ==0]
dataframe['Genre']=[namae[i+5] for i in range(len(namae)) if i % 6 ==0]
dataframe.style.hide_index()

##  Scrape the details of Data science recruiters from naukri.com

In [96]:
driver=webdriver.Chrome(r'C:\Users\Zalak\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [97]:
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:
    name.append('N/A')

In [98]:
time=[]
try:
    time1=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in time1:
        time.append(i.text)
except NoSuchElementException:
    time.append('N/A')

In [99]:
year=[]
try:
    year1=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in year1:
        year.append(i.text)
except NosuchElementException:
    year.append('N/A')

In [100]:
rating=[]
try:
    rating1=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in rating1:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('N/A')

In [101]:
votes=[]
try:
    votes1=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in votes1:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('N/A')

In [102]:
genre=[]
try:
    genre1=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genre1:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('N/A')

In [108]:
len(name)

100

In [110]:
dataframe=pd.DataFrame()
dataframe['Name']=name
dataframe['Year span']=year
dataframe['Genre']=genre
dataframe['Run Time']=time
dataframe['Ratings']=rating
dataframe['Votes']=votes
dataframe.style.hide_index()

## Details of Datasets from UCI machine learning repositories

In [111]:
driver=webdriver.Chrome(r'C:\Users\Zalak\Downloads\chromedriver_win32\chromedriver.exe')
url= 'https://archive.ics.uci.edu/'
driver.get(url)

In [112]:
btn=driver.find_element_by_xpath("//a[@href='datasets.php']")
btn.click()

In [113]:
data=[]
try:
    data1=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td")
    for i in data1:
        data.append(i.text)
except NoSuchElementException:
    data.append('N/A')

In [114]:
datanew=data[7:]

In [115]:
dataframe=pd.DataFrame()
dataframe['Dataset name']=[datanew[i] for i in range(len(datanew)) if i % 7 ==0]
dataframe['Data type']=[datanew[i+1] for i in range(len(datanew)) if i % 7 ==0]
dataframe['Task']=[datanew[i+2] for i in range(len(datanew)) if i % 7 ==0]
dataframe['Attribute type']=[datanew[i+3] for i in range(len(datanew)) if i % 7 ==0]
dataframe['No of instances']=[datanew[i+4] for i in range(len(datanew)) if i % 7 ==0]
dataframe['No of attribute']=[datanew[i+5] for i in range(len(datanew)) if i % 7 ==0]
dataframe['Year']=[datanew[i+6] for i in range(len(datanew)) if i % 7 ==0]
dataframe.style.hide_index()